* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color:rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    border: #f1f1f1 2px solid;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 3rem;
    padding: 5px;
}

button span2 {
    color: yellow;
    font-size: 5rem;
}

button span {
    color: red;
    font-size: 8rem;
}

